html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron h1 {
	margin-left: 40px;
	margin-top: 10px;
	font-size: 45px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header {
	background-color: #30627E;
	color: white;
	text-align: center;
}

.header li, .footer li {
	list-style: none;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 18px;
}

.nav a {
	color: white;
	text-decoration: none;
	padding-left: 30px;
}

#adoptly {
	background-color: #E52364;
	font-size: 32px;
}

.jumbotron {
	background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/JHPVE3XLUE.jpg');
	background-size: cover;
	color: white;
	height: 600px;
	padding-top: 130px;
	text-align: left;
	font-weight: bold;
}

.supporting {
	text-align: center;
	color: #333333;
	padding-top: 20px;
	padding-bottom: 40px;
}

.supporting p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn {
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 0;
}

.footer {
	background-color: #E52364;
	color: white;
	padding-top: 25px;
}

.footer ul, li {
	text-align: right;
	padding-right: 30px;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer a:hover {
	color: #E52364;
}


@media (max-width: 500px) {
  ul li {
    width: 100%;
  }
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 30px;
	}
}